.button {
    border-radius: 5px;
    background: var(--primary-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    justify-content: center;
    height: 52px;
}

.button_transparent-bg {
    background: transparent;
    padding: 0 25px 0 25px;
}

.button_transparent-bg:hover {
    background: var(--white-opacity-10);
}

.button_arrow-forward::after {
    background-image: url("../../icons/arrow-right-xs.svg");
    content: "";
    display: inline-block;
    height: 10px;
    margin-left: 15px;
    width: 12px;
}

.button-text {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}
