body {
    background-color: var(--dark-background-color);
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    letter-spacing: 0.2px;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--text-color);
}

h3 {
    line-height: 20px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1050px;
}

.section {
    padding: 160px 0 160px 0;
}

@media (max-width: 1080px) {
    .container {
        max-width: 750px;
        padding: 0 20px 0 20px;
    }
    .section {
        padding: 80px 0 80px 0;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 12px;
    }
}

@media (max-width: 790px) {
    .container {
        max-width: none;
    }
    .section {
        padding: 60px 0 60px 0;
    }
}

.footer {
    padding: 80px 0 80px 0;
}

.section_center {
    justify-items: center;
}

.subtitle {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.hgroup_center {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    text-align: center;
    gap: 10px;
}
